.titleLogin{
    font-size: 70px;
    padding-bottom: 20px;
}
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }



.mainLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.logincard{ 
    align-items: center;  
}


.name-pass{
    font-size: 14px;
    text-align: left;
    font: bold;
    margin-left: 21px;
}

.name-user{
    font-size: 14px;
    text-align: left;
    font: bold;
    margin-left: 76px;
}


.input-box{
    width: 100%;
    height: 30px;
    margin-bottom: 3%;
}

.input-box input{
    
    width: 50%;
    height: 100%;
    text-align: left;
    margin-bottom: 3%;
    border: none;
    outline: none;
    border: 2px solid ;
    
    border-radius: 5px;
    padding-left: 3%;
}

.input-box input::placeholder{
    color: white;
}

.btn{

    height:30px;
    width: 100px;
   
    
    font-size: 12px;
    margin-top: 5%;
    margin-inline: 10%;
    padding-inline: 20px;
}

.signup{
    font-size: 12px;
}

.usernameBox{
    margin-right: 30px;
    display: flex;
    flex-direction: row;
}

.passwordBox{
    margin-right: 25px;
    display: flex;
    flex-direction: row;
}