@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
.demoPage1 {
	 /* Parchment-like background color */
	background-color: transparent;

	
	
	
	font-family: 'Garamond', serif; /* Old-style font */
	color: #4a3b2b; /* Dark brown text color */
	
	
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Shadow for depth */
	border-radius: 10px; /* Rounded corners */
  }
  .internalpage{
	position: absolute;
	
		
	
	width: 100%;
	height: 100%;
		
	

  }
  
  .pageHeader {
	position: fixed;
	z-index: 2;
	font-size: 2em;
	margin-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
  }
.page-content{
	position: fixed;
	
	z-index: 1;
}
  
  .content {
	font-size: 1.2em;
	line-height: 1.6;
	z-index: 1;
  }
  
  .pageNumber {
	position: fixed;
	bottom: 0;
	margin-left: 240px;
	z-index: 1;
	font-size: 1em;
	text-align: center;
	margin-top: 20px;
	font-style: italic;
  }
  
  /* Additional styling for the text */
.storycontent{
	position: fixed;
	z-index: 1;
	margin: 0 0 10px;
  }
  
.page-cover{

	
	
	background-color: #27262f00;
	
	/* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
	border-radius: 10px;
	/* border: 2px solid #444; */
}

.coverdiv{
	
	position: fixed;
	right: 0px;
	bottom: 5px;
	top: 0px;
	
	
}


.dropDownRow{
	display: flex;
    flex-direction: row;
    
}
.dropDowncolumn{
	display: flex;
    flex-direction: row;
}
.buttonsBg{
	display: flex;
	flex-direction: column;
	height: 250px;
	margin-top: 400px;
    margin-left: 60px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
     
    padding: 20px;
    
	z-index: 2;
	position: fixed;
}




.HeadingCover {
  font-family: "Island Moments",cursive;
  font-weight:bolder;
  font-style:italic;
  color:rgb(255, 238, 0);
  position: fixed;
  z-index: 2;
  right:110px;
  top: 80px;
  font-size:90px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add some shadow for depth */
  mix-blend-mode: overlay; /* Blend the text with the background */
  

  
  
  
}