#root {
  
  margin: 0;
  padding: 0;
  text-align: center;
}





.wrapper{
  justify-content: center;
  align-items: center;
}

.wrapper h1{
  font-size: 150px;
  margin-bottom: 30px;
  text-align: center;
}