  
 
  .content {
	font-size: 1.2em;
	line-height: 1.6;
	z-index: 1;
  }
 
 
 
 /* Additional styling for the text */
  .storycontent{
	position: fixed;
	z-index: 1;
	margin: 0 0 10px;
  }

.storyQuestion{
	
	position: fixed;
	z-index: 1;
	margin: 0 0 10px;
	margin: 10px;
	 
}


.storyDiv{

  font-family: 'Times New Roman', Times, serif; /* Example font */
  font-size: 16px; /* Example font size */
  text-align: justify; /* Justify text */
  line-height: 1.5; /* Example line height */
  color: #785e3a;
  padding: 20px;
}


.questionDiv{
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 10px;
	font-family: 'Times New Roman', Times, serif; /* Example font */
	font-size: 16px; /* Example font size */
	text-align: center; /* Justify text */
	line-height: 1.5; 
	margin-bottom: 5px;
	color: #785e3a;
}

.optionContainer{
	display: flex;
	flex-direction: row;
	
}

.optionDiv{
	border-style: solid;
	border-radius: 10px;
	padding: 2px;
	border-width: 2px;
	margin-right: 2px;
	width: 190px;
	font-family: 'Times New Roman', Times, serif; /* Example font */
	font-size: 16px; /* Example font size */
	text-align: center; /* Justify text */
	line-height: 1.5; 
	color: #785e3a;
}


.optionDiv:hover{
	cursor: pointer;
	background-color: rgb(212, 198, 1);
}